@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.button {
  font-weight: 600;
  text-transform: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-emoji-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0eef2;
  background-image: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' transform='rotate(30)'%3E%3Ctext x='25' y='75' font-size='40'%3E📣%3C/text%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' transform='rotate(30)'%3E%3Ctext x='25' y='75' font-size='40'%3E📣%3C/text%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 300px 300px;
  background-position: 0 0, 150px 150px; /* Staggered position for second layer */
  animation: float 360s linear infinite;
  filter: brightness(1.3) contrast(0.7) sepia(0.1) opacity(0.7); /* "Lifted" whites effect */
  z-index: -1;
}

.bg-emoji-pattern2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e0eef2;
  background-image: 
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' transform='rotate(30)'%3E%3Ctext x='25' y='75' font-size='40'%3E🗣️%3C/text%3E%3C/svg%3E"),
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' transform='rotate(30)'%3E%3Ctext x='25' y='75' font-size='40'%3E🗣️%3C/text%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 300px 300px;
  background-position: 0 0, 150px 150px; /* Staggered position for second layer */
  animation: float 360s linear infinite;
  filter: brightness(1.3) contrast(0.7) sepia(0.1) opacity(0.7); /* "Lifted" whites effect */
  z-index: -1;
}

@keyframes float {
    0% {
        background-position: 0 0, 150px 150px;
    }
    100% {
        background-position: 1200px 1200px, 1350px 1350px;
    }
}

.content-wrapper {
    position: relative;
    z-index: 1;
}
